body{
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: 0;
}

#hero {
  width: 626px;
  margin: auto;
}

#hero img {
  margin-bottom: 32px;
  width: 250px;
  height: 250px;
}

h1{
  font-family: 'Shantell Sans', cursive;
  color: #3F3D56;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
}

h1 span {
  font-weight: bold;
  color: #EE24FF;
}

span, a {
  color: #3F3D56;
}

p, footer {
  color: #828282;
  font-size: 15px;
  line-height: 22px;
}

#footer a + a {
  margin-left: 28px;
}

.line {
  width: 400px;
  height: 0px;
  margin: 0 auto 16px;
  border: 1.5px rgb(224, 87, 195) solid;
  margin-top: 64px;
}

#wave {
  width: 100%;
  top: 555px;
  background-position: center bottom;
}
